.text-show-result svg {
  cursor: pointer;
}

.text-show-result {
  font-size: 17px;
  fill: white;
}

.pronounce {
  height: 40px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.word {
  height: 40px;
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.edit-text-container {
  display: flex;
  justify-content: center;
}

.edit-text-container input {
  width: 90%;
}
