.form-container {
  display: flex;
  justify-content: center;
}

.form-container form {
  display: flex;
}

.form-container button {
  cursor: pointer;
  margin-left: 1px;
  height: 34px;
  border-radius: 5px !important;
}

.form-container textarea {
  height: 40px;
}

.form-container > form input {
  height: 30px;
  max-width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 5px;
}

.form-container > form > button {
  border-radius: 2px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.267);
}

.error {
  display: flex;
  flex-direction: column;
}
.error small {
  font-size: 14px;
  color: red;
  position: absolute;
  top: 93px;
  padding-left: 2px;
}
