.study-text-item {
  margin: 5px;
  background-color: rebeccapurple;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.study-text-item-container {
  max-height: 200px;
  overflow-y: scroll;
}
.study-text-container > button {
  margin: 5px;
}
.study-text-container {
  border-radius: 5px;
  background-color: rebeccapurple;
  width: 90%;

  margin: auto;
  margin-top: 10px;
}

.study-text-container > button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: gainsboro;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
