@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  font-family: "Roboto", sans-serif !important;
}

.pronounce-container > div {
  display: inline-block;
  margin: 10px;
}

.pronounce-container {
  border-radius: 0 0 5px 5px;
}

.sentence-main-container {
  display: flex;
  justify-content: center;
}

.header-pronounce h2 {
  align-self: center;
}
.header-pronounce {
  background-color: #161b22;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 5px 5px 0 0;
}

.header-pronounce svg {
  cursor: pointer;
  fill: white;
}
